@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
*
{
   
    margin: 0;
    padding: 0;
}

body
{       
    background-color:#e2e2e2;
    width: 100vw;
   
}

header
{   
    position:fixed;
    width:100vw;
    height:80px;
    background-color:white;
}

.flex-container
{

    max-width:1000vw;
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:nowrap;
}



.translusent
{   
    display:flex;
    flex-grow:1;
    min-width: 20px;
    max-width:100px;
    height:80px;
    background-color: green;

}


.spacer
{
    display:flex;
    flex-grow:1;
}

h1
{  
    display:flex;
    font-family: Monsieur La Doulaise, cursive;
    text-wrap:nowrap;
    color: rgb(0, 0, 0);
    font-size: 50px;
    z-index:20;
   
}


.NaviBut-container
{
    position: relative;
}

.NaviBut
{
    display:flex;
    align-self:flex-end;
    Background-image: url("./img/burger.svg");
    Background-size: contain;
    Background-repeat: no-repeat;
    background-color:transparent;
    padding: 0px 0px;
    min-width: 60px;
    min-height: 60px;
    
}

.Navi
{
    display: block;
    position: absolute;
    background-color: rgb(65, 114, 166);;
    top: 4rem; 
    right: 1.2rem;
    pointer-events: none;   
    cursor: default; 
    opacity: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    text-decoration: none;
    text-align:right;
    transition: opacity 0.8s,max-width 0.5s, max-height 0.5s ease-in-out;
    
}

.Navi.open
{
    pointer-events: auto;
    opacity: 1;
    max-height: 200px;
    max-width: 200px;
    cursor: pointer;      
}

ul
{
    display: block;
    border: 1px solid rgb(0, 0, 0);
}

.list-Item
{
    border-bottom: 1px solid black;
}

.list-Item:hover
{
    background-color:rgb(227, 227, 227);
    border-bottom: 2px solid black;
}

.NavText
{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
}





.section1
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0px 0px 5px 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

h2
{
    display:flex;
    margin-bottom:10px;
}